extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/javascripts/index.js')
  text message:
  input(type="text" id="messageText")
  text author:
  input(type='text', id='messageAuthor')
  button(onclick='sendMessage()')
  div(id='messageBoard')
  script.
    updateData()

