extends layout

block content
  script(src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js")
  script(src='/javascripts/domFuncs.js')
  script(src='/javascripts/dragAndDrop.js')
  script(src='/javascripts/serverCom.js')

  div(id='mainContainer')
    div(id='messageBoard' class='dropzone')
    div(id='optionSidebar')
      div(class='post-it')
      div(class='post-it drag-drop')
        textarea(type='text' id='draggedArea' class='message' placeHolder='Write something nice?')

  script.
    updateData()

